## 00_DATA_PREPROCESSING

## 1 - Import packages and Data

In [1]:
import numpy as np
import scipy as sp
import sklearn as sk
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

Code below for using GPU, can be ignored if numba isn't installed for computer doesn't have a strong graphics card.

In [2]:
from numba import jit, cuda

In [3]:
pd.set_option('display.max_columns', 200)

In [4]:
columns_df = pd.read_csv('../raw_data/_columns.csv')
columns_df

          ColumnName                                  ColumnDescription
0            Address        website address the data is scraped from \n
1             League    League or Tournament the match took place in \n
2               Year                    Year the match took place in \n
3             Season  Spring or Summer depending on which half of th...
4               Type  Season, Playoffs, Regional, or International m...
5        blueTeamTag   Blue Team's tag name (ex. Team SoloMid is TSM...
6            bResult   Result of the match for Blue Team - 1 is a wi...
7            rResult   Result of the match for Red Team - 1 is a win...
8         redTeamTag   Red Team's Tag Name (ex. Team SoloMid is TSM) \n
9         gamelength                          Game length in minutes \n
10          golddiff   Gold difference - computed Blue minus Red - b...
11          goldblue          Blue Team's total gold value by minute \n
12            bKills   List of Blue Team's kills - [Time in minutes,...
13           bTowers   List of minutes that Blue Team destroyed a to...
14           bInhibs   List of minutes that Blue Team destroyed an i...
15          bDragons   List of minutes that Blue Team killed a drago...
16           bBarons   List of minutes that Blue Team killed a baron...
17          bHeralds   List of minutes that Blue Team killed a rift ...
18           goldred           Red Team's total gold value by minute \n
19            rKills   List of Red Team's kills - [Time in minutes, ...
20           rTowers   List of minutes that Red Team destroyed a tow...
21           rInhibs   List of minutes that Red Team destroyed an in...
22          rDragons   List of minutes that Red Team killed a dragon...
23           rBarons   List of minutes that Red Team killed a baron ...
24          rHeralds   List of minutes that Red Team killed a rift h...
25           blueTop   Name of Blue Team's player in the top positio...
26      blueTopChamp   Name of Blue Team's champion in the top posit...
27       goldblueTop   Blue's Top position player's gold value by mi...
28        blueJungle   Name of Blue Team's player in the jungle posi...
29   blueJungleChamp   Name of Blue Team's champion in the jungle po...
30    goldblueJungle   Blue's Jungle position player's gold value by...
31        blueMiddle   Name of Blue Team's player in the middle posi...
32   blueMiddleChamp   Name of Blue Team's champion in the middle po...
33    goldblueMiddle   Blue's Middle position player's gold value by...
34           blueADC   Name of Blue Team's player in the ADC positio...
35      blueADCChamp   Name of Blue Team's champion in the ADC posit...
36       goldblueADC   Blue's ADC position player's gold value by mi...
37       blueSupport   Name of Blue Team's player in the support pos...
38  blueSupportChamp   Name of Blue's champion in the support positi...
39   goldblueSupport    Blue's Support player's gold value by minute \n
40          blueBans   List of champions Blue Team banned (in order) \n
41            redTop   Name of Red Team's player in the top position \n
42       redTopChamp   Name of Red Team's champion in the top positi...
43        goldredTop   Red's Top position player's gold value by min...
44         redJungle   Name of Red Team's player in the jungle posit...
45    redJungleChamp   Name of Red Team's champion in the jungle pos...
46     goldredJungle   Red's Jungle position player's gold value by ...
47         redMiddle   Name of Red Team's player in the middle posit...
48    redMiddleChamp   Name of Red Team's champion in the middle pos...
49     goldredMiddle   Red's Middle position player's gold value by ...
50            redADC   Name of Red Team's player in the ADC position \n
51       redADCChamp   Name of Red Team's champion in the ADC positi...
52        goldredADC   Red's ADC position player's gold value by min...
53   redSupportChamp   Name of Red Team's player in the support posi...
54        redSupport   Name of Red Team's champion in the support po...
55    goldredSupport   Red's Support position player's gold value by...
56           redBans       List of champions Red Team banned (in order)

In [5]:
bans_df = pd.read_csv('../raw_data/bans.csv')
print(bans_df.shape)
bans_df.head()

(15240, 7)

,Address,Team,ban_1,ban_2,ban_3,ban_4,ban_5
0,http://matchhistory.na.leagueoflegends.com/en/...,blueBans,Rumble,Kassadin,Lissandra,NaN,NaN
1,http://matchhistory.na.leagueoflegends.com/en/...,blueBans,Kassadin,Sivir,Lissandra,NaN,NaN
2,http://matchhistory.na.leagueoflegends.com/en/...,blueBans,JarvanIV,Lissandra,Kassadin,NaN,NaN
3,http://matchhistory.na.leagueoflegends.com/en/...,blueBans,Annie,Lissandra,Kassadin,NaN,NaN
4,http://matchhistory.na.leagueoflegends.com/en/...,blueBans,Irelia,Pantheon,Kassadin,NaN,NaN

In [6]:
gold_df = pd.read_csv('../raw_data/gold.csv')
print(gold_df.shape)
gold_df.head()

(99060, 97)

,Address,Type,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,min_9,min_10,min_11,min_12,min_13,min_14,min_15,min_16,min_17,min_18,min_19,min_20,min_21,min_22,min_23,min_24,min_25,min_26,min_27,min_28,min_29,min_30,min_31,min_32,min_33,min_34,min_35,min_36,min_37,min_38,min_39,min_40,min_41,min_42,min_43,min_44,min_45,min_46,min_47,min_48,min_49,min_50,min_51,min_52,min_53,min_54,min_55,min_56,min_57,min_58,min_59,min_60,min_61,min_62,min_63,min_64,min_65,min_66,min_67,min_68,min_69,min_70,min_71,min_72,min_73,min_74,min_75,min_76,min_77,min_78,min_79,min_80,min_81,min_82,min_83,min_84,min_85,min_86,min_87,min_88,min_89,min_90,min_91,min_92,min_93,min_94,min_95
0,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,0,0,-14,-65,-268,-431,-488,-789,-494,-625,-1044,-313,-760,-697,-790,-611,240,845.0,797.0,1422.0,987.0,169.0,432.0,491.0,1205.0,1527.0,1647.0,1847.0,3750.0,4719.0,3561.0,3367.0,2886.0,2906.0,4411.0,4473.0,4639.0,4762.0,4686.0,6057.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,0,0,-26,-18,147,237,-152,18,88,-242,102,117,802,1420,1394,1301,1489,1563.0,1368.0,1105.0,205.0,192.0,587.0,377.0,667.0,415.0,1876.0,1244.0,2130.0,2431.0,680.0,1520.0,949.0,1894.0,2644.0,3394.0,3726.0,1165.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,0,0,10,-60,34,37,589,1064,1258,913,1233,1597,1575,3046,2922,3074,3626,3466.0,5634.0,5293.0,4597.0,4360.0,4616.0,4489.0,4880.0,5865.0,6993.0,7049.0,7029.0,7047.0,7160.0,7081.0,7582.0,9917.0,10337.0,9823.0,12307.0,13201.0,13924.0,13915.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,0,0,-15,25,228,-6,-243,175,-346,16,-258,-57,-190,-111,-335,-8,324,428.0,-124.0,768.0,2712.0,1813.0,198.0,1242.0,1245.0,1278.0,1240.0,-664.0,-1195.0,-1157.0,-2161.0,-2504.0,-3873.0,-3688.0,-3801.0,-3668.0,-3612.0,-5071.0,-2825.0,-1464.0,-4507.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,40,40,44,-36,113,158,-121,-191,23,205,156,272,-271,-896,-574,177,-425,-730.0,-318.0,478.0,926.0,761.0,-286.0,473.0,490.0,1265.0,2526.0,3890.0,4319.0,5121.0,5140.0,5141.0,6866.0,9517.0,11322.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
kills_df = pd.read_csv('../raw_data/kills.csv')
print(kills_df.shape)
kills_df.head()

(191069, 11)

,Address,Team,Time,Victim,Killer,Assist_1,Assist_2,Assist_3,Assist_4,x_pos,y_pos
0,http://matchhistory.na.leagueoflegends.com/en/...,bKills,10.820,C9 Hai,TSM Bjergsen,NaN,NaN,NaN,NaN,9229,8469
1,http://matchhistory.na.leagueoflegends.com/en/...,bKills,16.286,C9 LemonNation,TSM WildTurtle,TSM Santorin,TSM Bjergsen,TSM Lustboy,NaN,13908,5960
2,http://matchhistory.na.leagueoflegends.com/en/...,bKills,18.733,C9 Hai,TSM Bjergsen,TSM Santorin,TSM WildTurtle,TSM Lustboy,NaN,8281,7889
3,http://matchhistory.na.leagueoflegends.com/en/...,bKills,18.880,C9 Meteos,TSM Dyrus,TSM Santorin,TSM Bjergsen,TSM WildTurtle,TSM Lustboy,8522,8895
4,http://matchhistory.na.leagueoflegends.com/en/...,bKills,27.005,C9 Balls,TSM Bjergsen,TSM Dyrus,TSM Santorin,TSM WildTurtle,TSM Lustboy,8902,7643

In [8]:
monsters_df = pd.read_csv('../raw_data/monsters.csv')
print(monsters_df.shape)
monsters_df.head()

(44248, 4)

                                             Address      Team    Time    Type
0  http://matchhistory.na.leagueoflegends.com/en/...  bDragons  37.267  DRAGON
1  http://matchhistory.na.leagueoflegends.com/en/...  bDragons  32.545  DRAGON
2  http://matchhistory.na.leagueoflegends.com/en/...  bDragons  26.177  DRAGON
3  http://matchhistory.na.leagueoflegends.com/en/...  bDragons  19.119  DRAGON
4  http://matchhistory.na.leagueoflegends.com/en/...  bDragons  24.577  DRAGON

In [9]:
structures_df = pd.read_csv('../raw_data/structures.csv')
print(structures_df.shape)
structures_df.head()

(121386, 5)

,Address,Team,Time,Lane,Type
0,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,27.542,MID_LANE,BASE_TURRET
1,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,39.269,MID_LANE,NEXUS_TURRET
2,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,33.583,BOT_LANE,INNER_TURRET
3,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,23.038,TOP_LANE,INNER_TURRET
4,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,16.556,BOT_LANE,OUTER_TURRET

In [10]:
match_df = pd.read_csv('../raw_data/matchinfo.csv')
print(match_df.shape)
match_df.head()

(7620, 30)

,League,Year,Season,Type,blueTeamTag,bResult,rResult,redTeamTag,gamelength,blueTop,blueTopChamp,blueJungle,blueJungleChamp,blueMiddle,blueMiddleChamp,blueADC,blueADCChamp,blueSupport,blueSupportChamp,redTop,redTopChamp,redJungle,redJungleChamp,redMiddle,redMiddleChamp,redADC,redADCChamp,redSupport,redSupportChamp,Address
0,NALCS,2015,Spring,Season,TSM,1,0,C9,40,Dyrus,Irelia,Santorin,RekSai,Bjergsen,Ahri,WildTurtle,Jinx,Lustboy,Janna,Balls,Gnar,Meteos,Elise,Hai,Fizz,Sneaky,Sivir,LemonNation,Thresh,http://matchhistory.na.leagueoflegends.com/en/...
1,NALCS,2015,Spring,Season,CST,0,1,DIG,38,Cris,Gnar,Impaler,Rengar,Jesiz,Ahri,Mash,Caitlyn,Sheep,Leona,Gamsu,Irelia,Crumbzz,JarvanIV,Shiphtur,Azir,CoreJJ,Corki,KiWiKiD,Annie,http://matchhistory.na.leagueoflegends.com/en/...
2,NALCS,2015,Spring,Season,WFX,1,0,GV,40,Flaresz,Renekton,ShorterACE,Rengar,Pobelter,Fizz,Altec,Sivir,Gleeb,Annie,Hauntzer,Sion,Saintvicious,LeeSin,Keane,Azir,Cop,Corki,BunnyFuFuu,Janna,http://matchhistory.na.leagueoflegends.com/en/...
3,NALCS,2015,Spring,Season,TIP,0,1,TL,41,Rhux,Irelia,Rush,JarvanIV,XiaoWeiXiao,Leblanc,Apollo,Sivir,Adrian,Thresh,Quas,Gnar,IWDominate,Nunu,Fenix,Lulu,KEITH,KogMaw,Xpecial,Janna,http://matchhistory.na.leagueoflegends.com/en/...
4,NALCS,2015,Spring,Season,CLG,1,0,T8,35,Benny,Gnar,Xmithie,JarvanIV,Link,Lissandra,Doublelift,Tristana,aphromoo,Janna,CaliTrlolz8,Sion,Porpoise8,RekSai,Slooshi8,Lulu,Maplestreet8,Corki,Dodo8,Annie,http://matchhistory.na.leagueoflegends.com/en/...

In [11]:
lol_df = pd.read_csv('../raw_data/LeagueofLegends.csv')
print(lol_df.shape)
lol_df.head()

(7620, 57)

,League,Year,Season,Type,blueTeamTag,bResult,rResult,redTeamTag,gamelength,golddiff,goldblue,bKills,bTowers,bInhibs,bDragons,bBarons,bHeralds,goldred,rKills,rTowers,rInhibs,rDragons,rBarons,rHeralds,blueTop,blueTopChamp,goldblueTop,blueJungle,blueJungleChamp,goldblueJungle,blueMiddle,blueMiddleChamp,goldblueMiddle,blueADC,blueADCChamp,goldblueADC,blueSupport,blueSupportChamp,goldblueSupport,blueBans,redTop,redTopChamp,goldredTop,redJungle,redJungleChamp,goldredJungle,redMiddle,redMiddleChamp,goldredMiddle,redADC,redADCChamp,goldredADC,redSupport,redSupportChamp,goldredSupport,redBans,Address
0,NALCS,2015,Spring,Season,TSM,1,0,C9,40,"[0, 0, -14, -65, -268, -431, -488, -789, -494,...","[2415, 2415, 2711, 3887, 5068, 6171, 7412, 866...","[[10.82, 'C9 Hai', 'TSM Bjergsen', [], 9229, 8...","[[27.542, 'MID_LANE', 'BASE_TURRET'], [39.269,...","[[36.686, 'MID_LANE'], [29.274, 'MID_LANE']]","[[37.267, None]]",[],[],"[2415, 2415, 2725, 3952, 5336, 6602, 7900, 945...","[[16.529, 'TSM Lustboy', 'C9 Balls', ['C9 Mete...","[[39.23, 'TOP_LANE', 'INNER_TURRET'], [20.681,...",[],"[[17.14, None], [30.934, None], [24.641, None]]",[[29.954]],[],Dyrus,Irelia,"[475, 475, 532, 687, 893, 1058, 1172, 1471, 18...",Santorin,RekSai,"[475, 475, 532, 870, 1049, 1276, 1596, 1815, 2...",Bjergsen,Ahri,"[475, 475, 532, 807, 1102, 1307, 1651, 1950, 2...",WildTurtle,Jinx,"[475, 475, 532, 797, 1127, 1453, 1766, 2044, 2...",Lustboy,Janna,"[515, 515, 583, 726, 897, 1077, 1227, 1381, 15...","['Rumble', 'Kassadin', 'Lissandra']",Balls,Gnar,"[475, 475, 532, 728, 958, 1284, 1526, 1912, 21...",Meteos,Elise,"[475, 475, 532, 898, 1192, 1429, 1819, 2107, 2...",Hai,Fizz,"[475, 475, 552, 842, 1178, 1378, 1635, 1949, 2...",Sneaky,Sivir,"[475, 475, 532, 762, 1097, 1469, 1726, 2112, 2...",LemonNation,Thresh,"[515, 515, 577, 722, 911, 1042, 1194, 1370, 14...","['Tristana', 'Leblanc', 'Nidalee']",http://matchhistory.na.leagueoflegends.com/en/...
1,NALCS,2015,Spring,Season,CST,0,1,DIG,38,"[0, 0, -26, -18, 147, 237, -152, 18, 88, -242,...","[2415, 2415, 2705, 4108, 5511, 6797, 7637, 895...","[[11.104, 'DIG Shiphtur', 'CST Jesiz', ['CST I...","[[23.239, 'BOT_LANE', 'OUTER_TURRET'], [33.018...",[],"[[32.545, None], [26.177, None], [19.119, None]]",[[29.255]],[],"[2415, 2415, 2731, 4126, 5364, 6560, 7789, 893...","[[12.387, 'CST Jesiz', 'DIG Gamsu', ['DIG Ship...","[[19.257, 'MID_LANE', 'OUTER_TURRET'], [15.206...","[[36.813, 'MID_LANE']]","[[12.264, None]]",[],[],Cris,Gnar,"[475, 475, 532, 791, 1127, 1509, 1674, 1875, 2...",Impaler,Rengar,"[475, 475, 532, 895, 1176, 1334, 1447, 1859, 2...",Jesiz,Ahri,"[475, 475, 532, 816, 1102, 1413, 1624, 1937, 2...",Mash,Caitlyn,"[475, 475, 532, 856, 1182, 1468, 1653, 1890, 2...",Sheep,Leona,"[515, 515, 577, 750, 924, 1073, 1239, 1392, 15...","['Kassadin', 'Sivir', 'Lissandra']",Gamsu,Irelia,"[475, 475, 532, 811, 1042, 1237, 1625, 1852, 2...",Crumbzz,JarvanIV,"[475, 475, 532, 909, 1105, 1423, 1536, 1732, 1...",Shiphtur,Azir,"[475, 475, 552, 786, 1097, 1389, 1660, 1955, 2...",CoreJJ,Corki,"[475, 475, 532, 868, 1220, 1445, 1732, 1979, 2...",KiWiKiD,Annie,"[515, 515, 583, 752, 900, 1066, 1236, 1417, 15...","['RekSai', 'Janna', 'Leblanc']",http://matchhistory.na.leagueoflegends.com/en/...
2,NALCS,2015,Spring,Season,WFX,1,0,GV,40,"[0, 0, 10, -60, 34, 37, 589, 1064, 1258, 913, ...","[2415, 2415, 2726, 3794, 4933, 6236, 8109, 965...","[[5.255, 'GV Keane', 'WFX Pobelter', ['WFX Sho...","[[15.045, 'BOT_LANE', 'OUTER_TURRET'], [39.566...","[[37.511, 'TOP_LANE'], [37.38, 'BOT_LANE'], [3...","[[24.577, None], [37.867, None], [30.87, None]...",[[35.144]],[],"[2415, 2415, 2716, 3854, 4899, 6199, 7520, 859...","[[8.449, 'WFX Altec', 'GV Cop', ['GV BunnyFuFu...","[[24.62, 'MID_LANE', 'OUTER_TURRET'], [30.493,...",[],[],[],[],Flaresz,Renekton,"[475, 475, 533, 673, 828, 1075, 1428, 1775, 21...",ShorterACE,Rengar,"[475, 475, 543, 836, 1041, 1261, 1568, 2002, 2...",Pobelter,Fizz,"[475, 475, 533, 756, 1065, 1368, 2056, 2237, 2...",Altec,Sivir,"[475, 475, 533, 811, 1130, 1524, 1786, 2168, 2...",Gleeb,Annie,"[515, 515, 584, 718, 869, 1008, 1271, 1474, 16...","['JarvanIV', 'Lissandra', 'Kassadin']",Hauntzer,Sion,"[475, 475, 533, 706, 861, 1123, 1491, 1698, 18...",Saintvicious,LeeSin,"[475, 475, 533, 845, 1089, 1443, 1694, 1914, 2...",Keane,Azir,"[475, 475, 533, 801, 1006, 1233, 1385, 1720, 1...",Cop,Corki,"[475, 475, 533, 781, 1085, 1398, 1782, 1957, 2...",BunnyFuFuu,Janna,"[515, 515, 584, 721, 858, 1002, 1168, 1303, 14...","['Leblanc', 'Zed', 'RekSai']",http://matchhistory.na.leagueoflegends.com/en/...
3,NALCS,2015,Spring,Season,TIP,0,1,TL,41,"[0, 0, -15, 25, 228, -6, -243, 175, -346, 16, ...","[2415, 2415, 2705, 3847, 5398, 6473, 7720, 930...","[[8.274, 'TL Quas', 'TIP Rhux', ['TIP Apollo']...","[[19.941, 'BOT_LANE', 'OUTER_TURRET'], [38.77,...",[],[],[[37.513]],[],"[2415, 2415, 2720, 3822, 5170, 6479, 7963, 913...","[[7.768, 'TIP Rush', 'TL IWDominate', ['TL Fen...","[[36.384, 'MID_LANE', 'NEXUS_TURRET'], [31.665...","[[35.867, 'MID_LANE']]","[[26.274, None], [10.153, None], [18.515, None...",[],[],Rhux,Irelia,"[475, 475, 532, 646, 992, 1253, 1408, 1752, 21...",Rush,JarvanIV,"[475, 475, 532, 909, 1272, 1387, 1705, 2009, 2...",XiaoWeiXiao,Leblanc,"[475, 475, 532, 801, 1066, 1409, 1660, 2077, 2...",Apollo,Sivir,"[475, 475, 532, 791, 1202, 1383, 1752, 2121, 2...",Adrian,Thresh,"[515, 515, 577, 700, 866, 1041, 1195, 1349, 14...","['Annie', 'Lissandra', 'Kassadin']",Quas,Gnar,"[475, 475, 532, 732, 922, 1309, 1678, 1992, 22...",IWDominate,Nunu,"[475, 475, 541, 832, 1171, 1385, 1770, 2087, 2...",Fenix,Lulu,"[475, 475, 532, 771, 1046, 1288, 1534, 1776, 2...",KEITH,KogMaw,"[475, 475, 532, 766, 1161, 1438, 1776, 1936, 2...",Xpecial,Janna,"[515, 515, 583, 721, 870, 1059, 1205, 1342, 15...","['RekSai', 'Rumble', 'LeeSin']",http://matchhistory.na.leagueoflegends.com/en/...
4,NALCS,2015,Spring,Season,CLG,1,0,T8,35,"[40, 40, 44, -36, 113, 158, -121, -191, 23, 20...","[2415, 2415, 2710, 3950, 5404, 6666, 7887, 913...","[[11.438, 'T8 Dodo8', 'CLG Doublelift', ['CLG ...","[[22.594, 'MID_LANE', 'OUTER_TURRET'], [34.213...","[[34.069, 'BOT_LANE']]","[[14.589, None], [30.307, None]]",[[32.556]],[],"[2375, 2375, 2666, 3986, 5291, 6508, 8008, 932...","[[11.988, 'CLG Doublelift', 'T8 Porpoise8', ['...","[[11.644, 'MID_LANE', 'OUTER_TURRET'], [12.438...",[],"[[21.901, None]]",[],[],Benny,Gnar,"[475, 475, 532, 733, 1038, 1258, 1546, 1850, 2...",Xmithie,JarvanIV,"[475, 475, 532, 827, 1174, 1401, 1515, 1729, 2...",Link,Lissandra,"[475, 475, 532, 802, 1112, 1409, 1737, 1939, 2...",Doublelift,Tristana,"[475, 475, 532, 857, 1203, 1554, 1883, 2254, 2...",aphromoo,Janna,"[515, 515, 582, 731, 877, 1044, 1206, 1359, 15...","['Irelia', 'Pantheon', 'Kassadin']",CaliTrlolz8,Sion,"[475, 475, 532, 820, 1025, 1290, 1598, 1953, 2...",Porpoise8,RekSai,"[475, 475, 532, 896, 1220, 1444, 1828, 2042, 2...",Slooshi8,Lulu,"[475, 475, 532, 807, 1042, 1338, 1646, 1951, 2...",Maplestreet8,Corki,"[475, 475, 532, 792, 1187, 1488, 1832, 2136, 2...",Dodo8,Annie,"[475, 475, 538, 671, 817, 948, 1104, 1240, 136...","['Rumble', 'Sivir', 'Rengar']",http://matchhistory.na.leagueoflegends.com/en/...

lol_df is a combined set of all the other data sets. We can see that there is a series of data in some columns like golddiff. Looking into this, the problem seems to be that some of the data is time based and others aren't. So recreating a new combined dataset would be better and will allow for more manipulation.

# 2 - Data cleaning and preprocessing

## Investigating NA's in each dataset (kills, gold, etc.)

NA's in Structures data. NA only occurs if none of a team's towers or inhibitors were destroyed that game, which is possible as not all are needed to be destroyed to win the game

In [12]:
structures_df.isna().sum()

Address       0
Team          0
Time       7606
Lane       7606
Type       7606
dtype: int64

Replacing the NA's. 0 for the numeric columns and none for the categorical.

In [13]:
structures_df = structures_df.fillna(value = {
    'Time': 0,
    'Lane': 'None',
    'Type': 'None'
})

NA's in the Bans data.
Any NA's would mean that the no one was chosen to be banned.

In [14]:
bans_df.isna().sum()

Address       0
Team          0
ban_1        48
ban_2        59
ban_3       139
ban_4      8276
ban_5      8362
dtype: int64

In [15]:
bans_df = bans_df.fillna(value = 'None')

NA's in the Monsters data.

In [16]:
monsters_df.isna().sum()

Address    0
Team       0
Time       0
Type       0
dtype: int64

NA's in the Kills data.

In [17]:
kills_df.isna().sum()

Address          0
Team             0
Time           113
Victim         113
Killer         113
Assist_1     12518
Assist_2     47887
Assist_3     96622
Assist_4    151355
x_pos          113
y_pos          113
dtype: int64

In [18]:
kills_df = kills_df.fillna(value = {
        'Assist_1': 'None',
        'Assist_2': 'None',
        'Assist_3': 'None',
        'Assist_4': 'None',
})

NA's in assist means that no one assisted in defeating another player. However NA's in the other columns would indicate missing data. Since the dataset is large the NA's will be dropped after all the data have been combined in one set.

Investigate NA's in gold dataframe.

In [19]:
gold_df.isna().sum()

Address        0
Type           0
min_1          0
min_2          0
min_3          0
           ...
min_91     99047
min_92     99047
min_93     99047
min_94     99047
min_95     99047
Length: 97, dtype: int64

In [20]:
gold_df.columns

Index(['Address', 'Type', 'min_1', 'min_2', 'min_3', 'min_4', 'min_5', 'min_6',
       'min_7', 'min_8', 'min_9', 'min_10', 'min_11', 'min_12', 'min_13',
       'min_14', 'min_15', 'min_16', 'min_17', 'min_18', 'min_19', 'min_20',
       'min_21', 'min_22', 'min_23', 'min_24', 'min_25', 'min_26', 'min_27',
       'min_28', 'min_29', 'min_30', 'min_31', 'min_32', 'min_33', 'min_34',
       'min_35', 'min_36', 'min_37', 'min_38', 'min_39', 'min_40', 'min_41',
       'min_42', 'min_43', 'min_44', 'min_45', 'min_46', 'min_47', 'min_48',
       'min_49', 'min_50', 'min_51', 'min_52', 'min_53', 'min_54', 'min_55',
       'min_56', 'min_57', 'min_58', 'min_59', 'min_60', 'min_61', 'min_62',
       'min_63', 'min_64', 'min_65', 'min_66', 'min_67', 'min_68', 'min_69',
       'min_70', 'min_71', 'min_72', 'min_73', 'min_74', 'min_75', 'min_76',
       'min_77', 'min_78', 'min_79', 'min_80', 'min_81', 'min_82', 'min_83',
       'min_84', 'min_85', 'min_86', 'min_87', 'min_88', 'min_89', 'min_90',
       'min_91', 'min_92', 'min_93', 'min_94', 'min_95'],
      dtype='object')

Each game/match is a different length so the large amount of NA's are reasonable.

In [21]:
match_df.isna().sum()

League               0
Year                 0
Season               0
Type                 0
blueTeamTag         38
bResult              0
rResult              0
redTeamTag          37
gamelength           0
blueTop             37
blueTopChamp         0
blueJungle          28
blueJungleChamp      0
blueMiddle          37
blueMiddleChamp      0
blueADC             37
blueADCChamp         0
blueSupport         37
blueSupportChamp     0
redTop              37
redTopChamp          0
redJungle           24
redJungleChamp       0
redMiddle           37
redMiddleChamp       0
redADC              37
redADCChamp          0
redSupport          37
redSupportChamp      0
Address              0
dtype: int64

These NA's are the reasult of a minor professional game with lessor known players. This will be dropped later as well.

## New dataset structure

A look into the lol_df shows that it is a poorly put together dataset of all the other datasets. The code below is our attempt to recreate final data set to use. The main issue is that there are time based variables that aren't stored in a dataframe properly so it would be easier to just recreate a big data set to just instead.

First up is replacing two of the columns in the match info dataset that refer to who won. We are replacing those two with one column and instead of 0 or 1 to indicate the loser and winner, we will just replace it with Red or Blue. These refer to the teams during a match.

A key note is that all matches are identified by an address, so going forward we will be using that to match the game stats together.

In [22]:
address = pd.DataFrame(match_df['Address'])
address = pd.concat([address,match_df.iloc[:,0:4]],axis=1)
address = pd.concat([address,match_df.iloc[:,8]],axis=1)
address['Winner'] = match_df['bResult'].replace([1,0],['Blue','Red'])
address.columns = pd.MultiIndex.from_product([['Info'],
                                              ['MatchID'],
                                              address.columns])

address.head()

                                                Info                       \
                                             MatchID
                                             Address League  Year  Season
0  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring
1  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring
2  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring
3  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring
4  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring



     Type gamelength Winner
0  Season         40   Blue
1  Season         38    Red
2  Season         40   Blue
3  Season         41    Red
4  Season         35   Blue

Seperating Blue team from Red Team

In [23]:
cols = match_df.columns.unique()
side1 = list()
side2 = list()
names = list()
for x in cols:
    if 'blue' in x:
        side1.append(x)
        names.append(x.replace('blue','',1))
    elif 'red' in x:
        side2.append(x)

In [24]:
team = match_df[side1]
team.columns = names
team.columns = [['Info','Blue','Blue','Blue','Blue','Blue','Blue','Blue','Blue','Blue','Blue'],
                ['BlueTag','Top','Top','Jungle','Jungle','Middle','Middle',
                 'ADC','ADC','Support','Support'],
                team.columns]
final_df = pd.concat([address,team], axis=1)

team = match_df[side2]
team.columns = names
team.columns = [['Info','Red','Red','Red','Red','Red','Red','Red','Red','Red','Red'],
                ['RedTag','Top','Top','Jungle','Jungle','Middle','Middle',
                 'ADC','ADC','Support','Support'],
                team.columns]

final_df = pd.concat([final_df,team], axis=1)
final_df.head()

                                                Info                       \
                                             MatchID
                                             Address League  Year  Season
0  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring
1  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring
2  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring
3  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring
4  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring

                                        Blue                        \
                            BlueTag      Top                Jungle
     Type gamelength Winner TeamTag      Top  TopChamp      Jungle
0  Season         40   Blue     TSM    Dyrus    Irelia    Santorin
1  Season         38    Red     CST     Cris      Gnar     Impaler
2  Season         40   Blue     WFX  Flaresz  Renekton  ShorterACE
3  Season         41    Red     TIP     Rhux    Irelia        Rush
4  Season         35   Blue     CLG    Benny      Gnar     Xmithie

                                                                        \
                    Middle                     ADC             Support
  JungleChamp       Middle MiddleChamp         ADC  ADCChamp   Support
0      RekSai     Bjergsen        Ahri  WildTurtle      Jinx   Lustboy
1      Rengar        Jesiz        Ahri        Mash   Caitlyn     Sheep
2      Rengar     Pobelter        Fizz       Altec     Sivir     Gleeb
3    JarvanIV  XiaoWeiXiao     Leblanc      Apollo     Sivir    Adrian
4    JarvanIV         Link   Lissandra  Doublelift  Tristana  aphromoo

                  Info          Red                                     \
                RedTag          Top                 Jungle
  SupportChamp TeamTag          Top TopChamp        Jungle JungleChamp
0        Janna      C9        Balls     Gnar        Meteos       Elise
1        Leona     DIG        Gamsu   Irelia       Crumbzz    JarvanIV
2        Annie      GV     Hauntzer     Sion  Saintvicious      LeeSin
3       Thresh      TL         Quas     Gnar    IWDominate        Nunu
4        Janna      T8  CaliTrlolz8     Sion     Porpoise8      RekSai


     Middle                       ADC               Support
     Middle MiddleChamp           ADC ADCChamp      Support SupportChamp
0       Hai        Fizz        Sneaky    Sivir  LemonNation       Thresh
1  Shiphtur        Azir        CoreJJ    Corki      KiWiKiD        Annie
2     Keane        Azir           Cop    Corki   BunnyFuFuu        Janna
3     Fenix        Lulu         KEITH   KogMaw      Xpecial        Janna
4  Slooshi8        Lulu  Maplestreet8    Corki        Dodo8        Annie

# Data transformation for timed based data

Considering the fact that the some of the data is time based. They will need to be changed to work with the other non time based data. The way that gold_df is set up is a bit different from the reset of the datasets, so we will use that to out advantage.

In [25]:
gold_df = pd.concat([gold_df['Address'],gold_df['Type'],
                     gold_df['min_5'],gold_df['min_10'],gold_df['min_15']],axis = 1)
type = gold_df['Type'].unique()

In [26]:
for x in gold_df['Type'].unique():
    work = gold_df[gold_df['Type'] == x] #Sorting by type
    work = work.drop('Type', axis = 1)
    work_add = pd.DataFrame(work['Address'])
    work_add.columns = [['Info'],['MatchID'],['Address']]
    
    work = work.drop('Address', axis = 1)
    if 'goldblue' == x:
        work.columns = pd.MultiIndex.from_product([['Blue'],['TeamGold'],['Gold_5','Gold_10','Gold_15']])
    elif 'goldred' == x:
        work.columns = pd.MultiIndex.from_product([['Red'],['TeamGold'],['Gold_5','Gold_10','Gold_15']])
    elif 'blue' in x:
        work.columns = pd.MultiIndex.from_product([['Blue'],[x[8:]],['Gold_5','Gold_10','Gold_15']])
    elif 'red'in x:
        work.columns = pd.MultiIndex.from_product([['Red'],[x[7:]],['Gold_5','Gold_10','Gold_15']])
    else:
        work.columns = pd.MultiIndex.from_product([['Info'],[x[4:]],['Gold_5','Gold_10','Gold_15']])
    
    work_add = pd.concat([work_add, work], axis = 1)#.reset_index().drop('index',axis = 1)
    final_df = pd.merge(final_df, work_add, how = 'inner')

Adding Bans_df to the final_df. Bans is the only other data that isn't time based.

In [27]:
def combine(df, type, team, lvl2name):
    
    work = df[df['Team'] == type]

    work.columns =  [['Info','Info', team, team, team, team, team],
                     ['MatchID','Info', lvl2name, lvl2name, lvl2name, lvl2name, lvl2name],
                     work.columns]
    work = work.drop(work.columns[1], axis=1)

    return work

In [28]:
bans_df['Team'].unique()

array(['blueBans', 'redBans'], dtype=object)

In [29]:
type = bans_df['Team'].unique()[0]
work = bans_df[bans_df['Team'] == type]
team = 'Blue'
lvl2name = 'Bans'

work.columns =  [['Info','Info', team, team, team, team, team],
                 ['MatchID','Info', lvl2name, lvl2name, lvl2name, lvl2name, lvl2name],
                 work.columns]
work = work.drop(work.columns[1], axis=1)
final_df = pd.merge(final_df,work)

In [30]:
type = bans_df['Team'].unique()[1]
work = bans_df[bans_df['Team'] == type]
team = 'Red'
lvl2name = 'Bans'

work.columns =  [['Info','Info', team, team, team, team, team],
                 ['MatchID','Info', lvl2name, lvl2name, lvl2name, lvl2name, lvl2name],
                 work.columns]
work = work.drop(work.columns[1], axis=1)
final_df = pd.merge(final_df,work)

In [31]:
print(final_df.shape)
final_df.head()

(7620, 78)

                                                Info                       \
                                             MatchID
                                             Address League  Year  Season
0  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring
1  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring
2  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring
3  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring
4  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring

                                        Blue                        \
                            BlueTag      Top                Jungle
     Type gamelength Winner TeamTag      Top  TopChamp      Jungle
0  Season         40   Blue     TSM    Dyrus    Irelia    Santorin
1  Season         38    Red     CST     Cris      Gnar     Impaler
2  Season         40   Blue     WFX  Flaresz  Renekton  ShorterACE
3  Season         41    Red     TIP     Rhux    Irelia        Rush
4  Season         35   Blue     CLG    Benny      Gnar     Xmithie

                                                                        \
                    Middle                     ADC             Support
  JungleChamp       Middle MiddleChamp         ADC  ADCChamp   Support
0      RekSai     Bjergsen        Ahri  WildTurtle      Jinx   Lustboy
1      Rengar        Jesiz        Ahri        Mash   Caitlyn     Sheep
2      Rengar     Pobelter        Fizz       Altec     Sivir     Gleeb
3    JarvanIV  XiaoWeiXiao     Leblanc      Apollo     Sivir    Adrian
4    JarvanIV         Link   Lissandra  Doublelift  Tristana  aphromoo

                  Info          Red                                     \
                RedTag          Top                 Jungle
  SupportChamp TeamTag          Top TopChamp        Jungle JungleChamp
0        Janna      C9        Balls     Gnar        Meteos       Elise
1        Leona     DIG        Gamsu   Irelia       Crumbzz    JarvanIV
2        Annie      GV     Hauntzer     Sion  Saintvicious      LeeSin
3       Thresh      TL         Quas     Gnar    IWDominate        Nunu
4        Janna      T8  CaliTrlolz8     Sion     Porpoise8      RekSai

                                                                          \
     Middle                       ADC               Support
     Middle MiddleChamp           ADC ADCChamp      Support SupportChamp
0       Hai        Fizz        Sneaky    Sivir  LemonNation       Thresh
1  Shiphtur        Azir        CoreJJ    Corki      KiWiKiD        Annie
2     Keane        Azir           Cop    Corki   BunnyFuFuu        Janna
3     Fenix        Lulu         KEITH   KogMaw      Xpecial        Janna
4  Slooshi8        Lulu  Maplestreet8    Corki        Dodo8        Annie

    Info                     Blue                      Red                  \
    diff                 TeamGold                 TeamGold
  Gold_5 Gold_10 Gold_15   Gold_5 Gold_10 Gold_15   Gold_5 Gold_10 Gold_15
0   -268    -625    -790     5068   11361   18324     5336   11986   19114
1    147    -242    1394     5511   11419   19698     5364   11661   18304
2     34     913    2922     4933   12374   21237     4899   11461   18315
3    228      16    -335     5398   12033   19332     5170   12017   19667
4    113     205    -574     5404   11943   19426     5291   11738   20000

    Blue                                                                       \
     Top                 Jungle                 Middle                    ADC
  Gold_5 Gold_10 Gold_15 Gold_5 Gold_10 Gold_15 Gold_5 Gold_10 Gold_15 Gold_5
0    893    2051    3630   1049    2486    3632   1102    2663    4608   1127
1   1127    2406    4594   1176    2350    3929   1102    2547    4549   1182
2    828    2419    4187   1041    2552    4026   1065    2865    4861   1130
3    992    2662    4296   1272    2390    3627   1066    2533    4378   1202
4   1038    2446    4020   1174    2272    3696   1112    2643    4157   1203

                                             Red                         \
                  Support                    Top                 Jungle
  Gold_10 Gold_15  Gold_5 Gold_10 Gold_15 Gold_5 Gold_10 Gold_15 Gold_5
0    2495    4051     897    1666    2403    958    2587    4377   1192
1    2415    3869     924    1701    2757   1042    2346    3770   1105
2    2723    4899     869    1815    3264    861    2113    3532   1089
3    2756    4555     866    1692    2476    922    2390    3785   1171
4    2907    4933     877    1675    2620   1025    2523    4284   1220

                                                                         \
                  Middle                    ADC                 Support
  Gold_10 Gold_15 Gold_5 Gold_10 Gold_15 Gold_5 Gold_10 Gold_15  Gold_5
0    2555    4099   1178    2561    4043   1097    2621    4149     911
1    2285    3415   1097    2601    4418   1220    2670    4061     900
2    2454    3971   1006    2254    3578   1085    2854    4582     858
3    2937    4646   1046    2468    4420   1161    2568    4243     870
4    2576    4353   1042    2443    4321   1187    2622    4459     817

                       Blue                                         Red  \
                       Bans                                        Bans
  Gold_10 Gold_15     ban_1      ban_2      ban_3 ban_4 ban_5     ban_1
0    1662    2446    Rumble   Kassadin  Lissandra  None  None  Tristana
1    1759    2640  Kassadin      Sivir  Lissandra  None  None    RekSai
2    1786    2652  JarvanIV  Lissandra   Kassadin  None  None   Leblanc
3    1654    2573     Annie  Lissandra   Kassadin  None  None    RekSai
4    1574    2583    Irelia   Pantheon   Kassadin  None  None    Rumble



     ban_2    ban_3 ban_4 ban_5
0  Leblanc  Nidalee  None  None
1    Janna  Leblanc  None  None
2      Zed   RekSai  None  None
3   Rumble   LeeSin  None  None
4    Sivir   Rengar  None  None

Filtering out the number of kills/structures destroyed/ monsters killed under 15min and adding them in to the dataset.

In [32]:
#@jit(target_backend='cuda') #for gpu calc
def TimeDataMerge(df, time):
    # df is the dataframe to add in
    # final is the final dataframe to use
    # colnames is the names of the columns for what is being added in
    # lvlnames is the same as columns but for the levels
    
    address = pd.DataFrame(df['Address'].unique())
    address.columns = [['Info'],['Address']]
    
    fill = pd.DataFrame(['Fill','Fill','Fill']).T
    type = df['Team'].unique()
    
    for x in type:
        work = df[df['Team'] == x]
        work = work[work['Time'] <= time]
        
        for i in df['Address'].unique():
            work2 = work[work['Address'] == i]
            
            if work2.empty == False:
                fill = pd.concat([fill,pd.DataFrame([i,x,work2.shape[0]]).T])
            else:
                fill = pd.concat([fill,pd.DataFrame([i,x,0]).T])

    fill = fill.reset_index()
    fill = fill.drop(index = 0)
    fill = fill.drop('index', axis = 1)

    return fill

In [33]:
structures_df['Team'].unique()

array(['bTowers', 'rTowers', 'bInhibs', 'rInhibs'], dtype=object)

In [34]:
final = TimeDataMerge(structures_df, 15)
final.head()

                                                   0        1  2
1  http://matchhistory.na.leagueoflegends.com/en/...  bTowers  0
2  http://matchhistory.na.leagueoflegends.com/en/...  bTowers  0
3  http://matchhistory.na.leagueoflegends.com/en/...  bTowers  0
4  http://matchhistory.na.leagueoflegends.com/en/...  bTowers  0
5  http://matchhistory.na.leagueoflegends.com/en/...  bTowers  1

In [35]:
final.columns = ['Address','Team','Total with in 15 minutes']

In [36]:
col = ['Towers','Towers','Inhib','Inhib']
lvl = ['Blue','Red','Blue','Red']

for i in [0, 1, 2, 3]:
    work = final[final['Team'] == final['Team'].unique()[i]]
    work = work.drop(work.columns[1], axis=1)
    
    work.columns = [['Info',lvl[i]],
                    ['MatchID','Structures'],
                    ['Address',col[i]]]
    final_df = pd.merge(final_df,work)

In [37]:
print(final_df.shape)
final_df.head()

(7620, 82)

                                                Info                       \
                                             MatchID
                                             Address League  Year  Season
0  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring
1  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring
2  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring
3  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring
4  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring

                                        Blue                        \
                            BlueTag      Top                Jungle
     Type gamelength Winner TeamTag      Top  TopChamp      Jungle
0  Season         40   Blue     TSM    Dyrus    Irelia    Santorin
1  Season         38    Red     CST     Cris      Gnar     Impaler
2  Season         40   Blue     WFX  Flaresz  Renekton  ShorterACE
3  Season         41    Red     TIP     Rhux    Irelia        Rush
4  Season         35   Blue     CLG    Benny      Gnar     Xmithie

                                                                        \
                    Middle                     ADC             Support
  JungleChamp       Middle MiddleChamp         ADC  ADCChamp   Support
0      RekSai     Bjergsen        Ahri  WildTurtle      Jinx   Lustboy
1      Rengar        Jesiz        Ahri        Mash   Caitlyn     Sheep
2      Rengar     Pobelter        Fizz       Altec     Sivir     Gleeb
3    JarvanIV  XiaoWeiXiao     Leblanc      Apollo     Sivir    Adrian
4    JarvanIV         Link   Lissandra  Doublelift  Tristana  aphromoo

                  Info          Red                                     \
                RedTag          Top                 Jungle
  SupportChamp TeamTag          Top TopChamp        Jungle JungleChamp
0        Janna      C9        Balls     Gnar        Meteos       Elise
1        Leona     DIG        Gamsu   Irelia       Crumbzz    JarvanIV
2        Annie      GV     Hauntzer     Sion  Saintvicious      LeeSin
3       Thresh      TL         Quas     Gnar    IWDominate        Nunu
4        Janna      T8  CaliTrlolz8     Sion     Porpoise8      RekSai

                                                                          \
     Middle                       ADC               Support
     Middle MiddleChamp           ADC ADCChamp      Support SupportChamp
0       Hai        Fizz        Sneaky    Sivir  LemonNation       Thresh
1  Shiphtur        Azir        CoreJJ    Corki      KiWiKiD        Annie
2     Keane        Azir           Cop    Corki   BunnyFuFuu        Janna
3     Fenix        Lulu         KEITH   KogMaw      Xpecial        Janna
4  Slooshi8        Lulu  Maplestreet8    Corki        Dodo8        Annie

    Info                     Blue                      Red                  \
    diff                 TeamGold                 TeamGold
  Gold_5 Gold_10 Gold_15   Gold_5 Gold_10 Gold_15   Gold_5 Gold_10 Gold_15
0   -268    -625    -790     5068   11361   18324     5336   11986   19114
1    147    -242    1394     5511   11419   19698     5364   11661   18304
2     34     913    2922     4933   12374   21237     4899   11461   18315
3    228      16    -335     5398   12033   19332     5170   12017   19667
4    113     205    -574     5404   11943   19426     5291   11738   20000

    Blue                                                                       \
     Top                 Jungle                 Middle                    ADC
  Gold_5 Gold_10 Gold_15 Gold_5 Gold_10 Gold_15 Gold_5 Gold_10 Gold_15 Gold_5
0    893    2051    3630   1049    2486    3632   1102    2663    4608   1127
1   1127    2406    4594   1176    2350    3929   1102    2547    4549   1182
2    828    2419    4187   1041    2552    4026   1065    2865    4861   1130
3    992    2662    4296   1272    2390    3627   1066    2533    4378   1202
4   1038    2446    4020   1174    2272    3696   1112    2643    4157   1203

                                             Red                         \
                  Support                    Top                 Jungle
  Gold_10 Gold_15  Gold_5 Gold_10 Gold_15 Gold_5 Gold_10 Gold_15 Gold_5
0    2495    4051     897    1666    2403    958    2587    4377   1192
1    2415    3869     924    1701    2757   1042    2346    3770   1105
2    2723    4899     869    1815    3264    861    2113    3532   1089
3    2756    4555     866    1692    2476    922    2390    3785   1171
4    2907    4933     877    1675    2620   1025    2523    4284   1220

                                                                         \
                  Middle                    ADC                 Support
  Gold_10 Gold_15 Gold_5 Gold_10 Gold_15 Gold_5 Gold_10 Gold_15  Gold_5
0    2555    4099   1178    2561    4043   1097    2621    4149     911
1    2285    3415   1097    2601    4418   1220    2670    4061     900
2    2454    3971   1006    2254    3578   1085    2854    4582     858
3    2937    4646   1046    2468    4420   1161    2568    4243     870
4    2576    4353   1042    2443    4321   1187    2622    4459     817

                       Blue                                         Red  \
                       Bans                                        Bans
  Gold_10 Gold_15     ban_1      ban_2      ban_3 ban_4 ban_5     ban_1
0    1662    2446    Rumble   Kassadin  Lissandra  None  None  Tristana
1    1759    2640  Kassadin      Sivir  Lissandra  None  None    RekSai
2    1786    2652  JarvanIV  Lissandra   Kassadin  None  None   Leblanc
3    1654    2573     Annie  Lissandra   Kassadin  None  None    RekSai
4    1574    2583    Irelia   Pantheon   Kassadin  None  None    Rumble

                                      Blue        Red       Blue        Red
                                Structures Structures Structures Structures
     ban_2    ban_3 ban_4 ban_5     Towers     Towers      Inhib      Inhib
0  Leblanc  Nidalee  None  None          0          0          0          1
1    Janna  Leblanc  None  None          0          0          1          0
2      Zed   RekSai  None  None          0          0          0          1
3   Rumble   LeeSin  None  None          0          0          1          0
4    Sivir   Rengar  None  None          1          2          0          1

Monsters

In [38]:
monsters_df['Team'].unique()

array(['bDragons', 'bBarons', 'bHeralds', 'rDragons', 'rBarons',
       'rHeralds'], dtype=object)

Certain monsters do not appear before the 15 minute mark so they will be dropped from the dataset. Baron appeares at 20 minutes, Rift Herald at 15 minutes, Elder Drake only after a team has collected the dragon soul after a certain patch. Aside from the Rift Herald, these other monsters grant a power temperary boost that helps a team finish the game. The game mechanics and strategies behind them get complex. They won't be considered as the models that are going to be looked into are for predicting based on the earlier portions of the game.

Code below is to filter out those monsters.

In [39]:
monsters_df = monsters_df[monsters_df['Team'] != monsters_df['Team'].unique()[1]]
monsters_df = monsters_df[monsters_df['Team'] != monsters_df['Team'].unique()[1]]
monsters_df = monsters_df[monsters_df['Team'] != monsters_df['Team'].unique()[2]]
monsters_df = monsters_df[monsters_df['Team'] != monsters_df['Team'].unique()[2]]
monsters_df.head()

                                             Address      Team    Time    Type
0  http://matchhistory.na.leagueoflegends.com/en/...  bDragons  37.267  DRAGON
1  http://matchhistory.na.leagueoflegends.com/en/...  bDragons  32.545  DRAGON
2  http://matchhistory.na.leagueoflegends.com/en/...  bDragons  26.177  DRAGON
3  http://matchhistory.na.leagueoflegends.com/en/...  bDragons  19.119  DRAGON
4  http://matchhistory.na.leagueoflegends.com/en/...  bDragons  24.577  DRAGON

In [40]:
final = TimeDataMerge(monsters_df, 15)
final.head()

                                                   0         1  2
1  http://matchhistory.na.leagueoflegends.com/en/...  bDragons  0
2  http://matchhistory.na.leagueoflegends.com/en/...  bDragons  0
3  http://matchhistory.na.leagueoflegends.com/en/...  bDragons  0
4  http://matchhistory.na.leagueoflegends.com/en/...  bDragons  1
5  http://matchhistory.na.leagueoflegends.com/en/...  bDragons  0

In [41]:
final.columns = ['Address','Team','Total with in 15 minutes']

In [42]:
col = ['Dragon','Dragon']
lvl = ['Blue','Red']

for i in [0, 1,]:
    work = final[final['Team'] == final['Team'].unique()[i]]
    work = work.drop(work.columns[1], axis=1)
    
    work.columns = [['Info',lvl[i]],
                    ['MatchID','Monsters'],
                    ['Address',col[i]]]
    final_df = pd.merge(final_df,work)

Kills dataset is a little more unique compared to the other timed based data. The set records the killer and their teammates of assisted in defeating an opponent's champion, while also recording the victum. There are also points where the battle ended, but without knowing where the origin lies those points are useless. The code for that is in the notebook "00_data_preprocessing_kills_dataset.ipynb" due to the code crashing the kernel if it is within this notebook.

In [43]:
kills_df = pd.read_csv('../clean_data/kills_cleaned.csv', header=[0,1,2],index_col=[0])

In [44]:
final_df = pd.merge(final_df,kills_df)

In [45]:
final_df.shape

(7604, 104)

In [46]:
final_df.head()

                                                Info                       \
                                             MatchID
                                             Address League  Year  Season
0  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring
1  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring
2  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring
3  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring
4  http://matchhistory.na.leagueoflegends.com/en/...  NALCS  2015  Spring

                                        Blue                        \
                            BlueTag      Top                Jungle
     Type gamelength Winner TeamTag      Top  TopChamp      Jungle
0  Season         40   Blue     TSM    Dyrus    Irelia    Santorin
1  Season         38    Red     CST     Cris      Gnar     Impaler
2  Season         40   Blue     WFX  Flaresz  Renekton  ShorterACE
3  Season         41    Red     TIP     Rhux    Irelia        Rush
4  Season         35   Blue     CLG    Benny      Gnar     Xmithie

                                                                        \
                    Middle                     ADC             Support
  JungleChamp       Middle MiddleChamp         ADC  ADCChamp   Support
0      RekSai     Bjergsen        Ahri  WildTurtle      Jinx   Lustboy
1      Rengar        Jesiz        Ahri        Mash   Caitlyn     Sheep
2      Rengar     Pobelter        Fizz       Altec     Sivir     Gleeb
3    JarvanIV  XiaoWeiXiao     Leblanc      Apollo     Sivir    Adrian
4    JarvanIV         Link   Lissandra  Doublelift  Tristana  aphromoo

                  Info          Red                                     \
                RedTag          Top                 Jungle
  SupportChamp TeamTag          Top TopChamp        Jungle JungleChamp
0        Janna      C9        Balls     Gnar        Meteos       Elise
1        Leona     DIG        Gamsu   Irelia       Crumbzz    JarvanIV
2        Annie      GV     Hauntzer     Sion  Saintvicious      LeeSin
3       Thresh      TL         Quas     Gnar    IWDominate        Nunu
4        Janna      T8  CaliTrlolz8     Sion     Porpoise8      RekSai

                                                                          \
     Middle                       ADC               Support
     Middle MiddleChamp           ADC ADCChamp      Support SupportChamp
0       Hai        Fizz        Sneaky    Sivir  LemonNation       Thresh
1  Shiphtur        Azir        CoreJJ    Corki      KiWiKiD        Annie
2     Keane        Azir           Cop    Corki   BunnyFuFuu        Janna
3     Fenix        Lulu         KEITH   KogMaw      Xpecial        Janna
4  Slooshi8        Lulu  Maplestreet8    Corki        Dodo8        Annie

    Info                     Blue                      Red                  \
    diff                 TeamGold                 TeamGold
  Gold_5 Gold_10 Gold_15   Gold_5 Gold_10 Gold_15   Gold_5 Gold_10 Gold_15
0   -268    -625    -790     5068   11361   18324     5336   11986   19114
1    147    -242    1394     5511   11419   19698     5364   11661   18304
2     34     913    2922     4933   12374   21237     4899   11461   18315
3    228      16    -335     5398   12033   19332     5170   12017   19667
4    113     205    -574     5404   11943   19426     5291   11738   20000

    Blue                                                                       \
     Top                 Jungle                 Middle                    ADC
  Gold_5 Gold_10 Gold_15 Gold_5 Gold_10 Gold_15 Gold_5 Gold_10 Gold_15 Gold_5
0    893    2051    3630   1049    2486    3632   1102    2663    4608   1127
1   1127    2406    4594   1176    2350    3929   1102    2547    4549   1182
2    828    2419    4187   1041    2552    4026   1065    2865    4861   1130
3    992    2662    4296   1272    2390    3627   1066    2533    4378   1202
4   1038    2446    4020   1174    2272    3696   1112    2643    4157   1203

                                             Red                         \
                  Support                    Top                 Jungle
  Gold_10 Gold_15  Gold_5 Gold_10 Gold_15 Gold_5 Gold_10 Gold_15 Gold_5
0    2495    4051     897    1666    2403    958    2587    4377   1192
1    2415    3869     924    1701    2757   1042    2346    3770   1105
2    2723    4899     869    1815    3264    861    2113    3532   1089
3    2756    4555     866    1692    2476    922    2390    3785   1171
4    2907    4933     877    1675    2620   1025    2523    4284   1220

                                                                         \
                  Middle                    ADC                 Support
  Gold_10 Gold_15 Gold_5 Gold_10 Gold_15 Gold_5 Gold_10 Gold_15  Gold_5
0    2555    4099   1178    2561    4043   1097    2621    4149     911
1    2285    3415   1097    2601    4418   1220    2670    4061     900
2    2454    3971   1006    2254    3578   1085    2854    4582     858
3    2937    4646   1046    2468    4420   1161    2568    4243     870
4    2576    4353   1042    2443    4321   1187    2622    4459     817

                       Blue                                         Red  \
                       Bans                                        Bans
  Gold_10 Gold_15     ban_1      ban_2      ban_3 ban_4 ban_5     ban_1
0    1662    2446    Rumble   Kassadin  Lissandra  None  None  Tristana
1    1759    2640  Kassadin      Sivir  Lissandra  None  None    RekSai
2    1786    2652  JarvanIV  Lissandra   Kassadin  None  None   Leblanc
3    1654    2573     Annie  Lissandra   Kassadin  None  None    RekSai
4    1574    2583    Irelia   Pantheon   Kassadin  None  None    Rumble

                                      Blue        Red       Blue        Red  \
                                Structures Structures Structures Structures
     ban_2    ban_3 ban_4 ban_5     Towers     Towers      Inhib      Inhib
0  Leblanc  Nidalee  None  None          0          0          0          1
1    Janna  Leblanc  None  None          0          0          1          0
2      Zed   RekSai  None  None          0          0          0          1
3   Rumble   LeeSin  None  None          0          0          1          0
4    Sivir   Rengar  None  None          1          2          0          1

      Blue      Red   Blue                                                  \
  Monsters Monsters Middle          Top          ADC        Support
    Dragon   Dragon  Kills Assist Kills Assist Kills Assist   Kills Assist
0        0        0      8      8     2      8     5     10       0     15
1        0        1      4      1     3      3     2      5       0      7
2        0        0      7      6     3     10     9     10       2     13
3        0        1      4      3     4      3     1      7       0      4
4        1        0      9     10     2     14     7      6       1     20

                   Red                                                         \
  Jungle        Middle          Top          ADC        Support        Jungle
   Kills Assist  Kills Assist Kills Assist Kills Assist   Kills Assist  Kills
0      1     13      1      5     1      7     6      3       0      7      1
1      1      7      4      4     1      6     3      3       1      6      0
2      1     13      3      2     2      4     2      2       0      6      1
3      1      8      5     12     7      6     6     11       0     16      3
4      3     15      0      9     5      3     3      5       0      5      2



  Assist
0      6
1      4
2      4
3     16
4      5

Final check for NA's

In [47]:
final_df.isna().sum().sum()

423

In [48]:
final_df = final_df.dropna(axis = 0)

In [49]:
final_df.isna().sum().sum()

0

In [50]:
final_df.shape

(7566, 104)

Only a tiny amount was dropped so the dropping the NA's will be the method chosen to deal with the NA's.

## 4) Write cleaned data to csv

In [51]:
final_df.to_csv('../clean_data/data.csv')