# Data Cleaning

In [1]:
import numpy as np
import pandas as pd
import os

Combining dataset into one dataset. First step is to grab the column names for the blank dataframe then combine each dataset together. Then checking for NA's in the set.

"directory" is relative to where this notebook is. This notebook is inside a folder I called project and it next to three folders for each type of dataset.

## Test Set

In [2]:
directory = os.path.join('Test')
test_df = pd.DataFrame()

for root,dirs,files in os.walk(directory):
    for file in files:
        if file.endswith("checkpoint.csv"):
            print(file,' Skipped')# IDK were these come from looking at the test folder there are only 5 sets
        else:
            ss = open(root+'/'+file, 'r')# 'r' is for reading the file, ?open for other modes like writing or creating
            x = pd.read_csv(ss)
            test_df = pd.concat((test_df,x), axis=0,ignore_index=False)

In [3]:
test_df.head()

Empty DataFrame
Columns: []
Index: []

Number of NA in the final set

In [23]:
print(test_df.shape)
test_df.isna().sum().sum()

(4814, 139)

38

Dropping the colmuns containing "victory" expect for "teamVictory" as those are redundant when there are colmuns telling us which team a player is on and one for which team won the match.

In [24]:
list(test_df.columns)

drop = test_df.columns[test_df.columns.str.contains('victory')]
test_df = test_df.drop(drop,axis=1)

#drop =test_df.columns[test_df.columns.str.contains('ban')]
#test_df = test_df.drop(drop,axis=1)

test_df = test_df.drop(['Unnamed: 0','gameId', 'matchId', 'gameVersion','Player_id'],axis=1)

print(test_df.shape)

(4814, 124)

Changing our y variable, "teamVictory", from 100 and 200 to Red and Blue. This variable tells which team won, but 100 and 200 is nonsense.

In [25]:
test_df['teamVictory'] = test_df['teamVictory'].replace([100,200],['Red','Blue'])

For saving df. Commented out because I might return to mess with a few things later and don't want to overwrite the df we are using while I'm working out an issue

In [26]:
#test_df.to_csv('test.csv')

Possible code for locating NA's for investigation.

In [8]:
#test_df[test_df.isna()==True]

## Train Set

In [28]:
x = pd.read_csv('Test/df_00000.csv')

directory = os.path.join('Train')
train_df = pd.DataFrame(columns=x.columns)

for root,dirs,files in os.walk(directory):
    for file in files:
        if file.endswith("checkpoint.csv"):
            print(file,' Skipped')# IDK were these come from looking at the test folder there are only 5 sets
        else:
            ss = open(root+'/'+file, 'r')# 'r' is for reading the file, ?open for other modes like writing or creating
            x = pd.read_csv(ss)
            train_df = pd.concat((train_df,x), axis=0,ignore_index=False)

In [29]:
train_df.head()

,Unnamed: 0,gameId,matchId,gameVersion,gameDuration,teamVictory,team_100_gold,team_200_gold,Player_id,Player_1_ban,...,Player_10_role,Player_10_team,Player_10_victory,Player_10_position,Player_10_time_game,Player_10_gold,Player_10_xp,Player_10_dmg_dealt,Player_10_dmg_taken,Player_10_time_ccing
0,0,5991525653,KR_5991525653,12.12.450.4196,1266,100,45850,32836,10,103,...,SUPPORT,200,0,UTILITY,1266,4516,6213,5507,6880,7
1,0,4367760523,NA1_4367760523,12.12.450.4196,1155,100,39753,30935,10,350,...,SUPPORT,200,0,UTILITY,1155,4187,5132,3058,10032,6
2,0,5987019869,KR_5987019869,12.12.450.4196,1503,100,60668,42938,10,429,...,SUPPORT,200,0,UTILITY,1503,7175,8178,10367,17116,23
3,0,1267586097,LA1_1267586097,12.12.450.4196,1395,200,40165,51200,10,24,...,SUPPORT,200,1,UTILITY,1395,8909,9699,10260,10966,33
4,0,5991106483,KR_5991106483,12.12.450.4196,1231,100,43187,39582,10,200,...,SUPPORT,200,0,UTILITY,1231,5660,5343,4102,11293,14

Number of NA in the final set

In [11]:
print(train_df.shape)
train_df.isna().sum().sum()

(86636, 139)

841

Dropping the colmuns containing "victory" expect for "teamVictory" as those are redundant when there are colmuns telling us which team a player is on and one for which team won the match.

In [30]:
list(train_df.columns)

drop = train_df.columns[train_df.columns.str.contains('victory')]
train_df = train_df.drop(drop,axis=1)

#drop = train_df.columns[train_df.columns.str.contains('ban')]
#train_df = train_df.drop(drop,axis=1)

train_df = train_df.drop(['Unnamed: 0','gameId', 'matchId', 'gameVersion','Player_id'],axis=1)

print(train_df.shape)

(86636, 124)

Changing our y variable, "teamVictory", from 100 and 200 to Red and Blue. This variable tells which team won, but 100 and 200 is nonsense.

In [31]:
train_df['teamVictory'] = train_df['teamVictory'].replace([100,200],['Red','Blue'])

For saving df. Commented out because I might return to mess with a few things later and don't want to overwrite the df we are using while I'm working out an issue

In [32]:
#train_df.to_csv('train.csv')

Possible code for locating NA's for investigation.

In [15]:
#test_df[test_df.isna()==True]

## Validation Set

In [33]:
x = pd.read_csv('Test/df_00000.csv')

directory = os.path.join('Val')#Val is the folder name I put the validation datasets into
val_df = pd.DataFrame(columns=x.columns)

for root,dirs,files in os.walk(directory):
    for file in files:
        if file.endswith("checkpoint.csv"):
            print(file,' Skipped')# IDK were these come from looking at the test folder there are only 5 sets
        else:
            ss = open(root+'/'+file, 'r')# 'r' is for reading the file, ?open for other modes like writing or creating
            x = pd.read_csv(ss)
            val_df = pd.concat((val_df,x), axis=0,ignore_index=False)

df_00002-checkpoint.csv  Skipped

In [34]:
val_df.head()

,Unnamed: 0,gameId,matchId,gameVersion,gameDuration,teamVictory,team_100_gold,team_200_gold,Player_id,Player_1_ban,...,Player_10_role,Player_10_team,Player_10_victory,Player_10_position,Player_10_time_game,Player_10_gold,Player_10_xp,Player_10_dmg_dealt,Player_10_dmg_taken,Player_10_time_ccing
0,0,4356665034,NA1_4356665034,12.12.450.4196,927,100,33394,24800,10,-1,...,SUPPORT,200,0,UTILITY,927,5020,3927,6585,10019,16
1,0,5953813873,EUW1_5953813873,12.12.450.4196,1663,100,55944,47640,10,84,...,SUPPORT,200,0,UTILITY,1663,6662,7329,6176,10811,43
2,0,1194644361,LA2_1194644361,12.12.450.4196,1369,200,35248,53140,10,266,...,SOLO,200,1,UTILITY,1369,8045,9669,3972,9818,19
3,0,4359202275,NA1_4359202275,12.12.450.4196,1261,200,36240,43050,10,236,...,SUPPORT,200,1,UTILITY,1261,6759,7140,8742,8551,30
4,0,1195485117,LA2_1195485117,12.12.450.4196,1422,200,43171,56111,10,62,...,SUPPORT,200,1,UTILITY,1422,7948,9909,5457,13220,20

Number of NA in the final set

In [18]:
print(val_df.shape)
val_df.isna().sum().sum()

(4813, 139)

51

Dropping the colmuns containing "victory" expect for "teamVictory" as those are redundant when there are colmuns telling us which team a player is on and one for which team won the match.

In [36]:
list(val_df.columns)

drop = val_df.columns[val_df.columns.str.contains('victory')]
val_df = val_df.drop(drop,axis=1)

#drop = val_df.columns[val_df.columns.str.contains('ban')]
#val_df = val_df.drop(drop,axis=1)

val_df = val_df.drop(['Unnamed: 0','gameId', 'matchId', 'gameVersion','Player_id'],axis=1)

print(val_df.shape)

(4813, 124)

Changing our y variable, "teamVictory", from 100 and 200 to Red and Blue. This variable tells which team won, but 100 and 200 is nonsense.

In [37]:
val_df['teamVictory'] = val_df['teamVictory'].replace([100,200],['Red','Blue'])

For saving df. Commented out because I might return to mess with a few things later and don't want to overwrite the df we are using while I'm working out an issue

In [38]:
#val_df.to_csv('val.csv')

Possible code for locating NA's for investigation.

In [22]:
#test_df[test_df.isna()==True]